<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.story.code.infrastructure.tunnel.datatunnel.database.sys.UserRoleDAO">
    <resultMap id="BaseResultMap" type="com.story.code.infrastructure.tunnel.dataobject.sys.UserRoleDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
    </resultMap>

    <sql id="Base_Column_List">
                create_by,
        del_flag,
        gmt_create,
        gmt_modified,
        id,
        modified_by,
        remarks,
        role_id,
        user_id,
        version
    </sql>

    <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user_role
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        delete from sys_user_role
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.story.code.infrastructure.tunnel.dataobject.sys.UserRoleDO">
        INSERT INTO sys_user_role (
                    create_by,
            del_flag,
            gmt_create,
            gmt_modified,
            modified_by,
            remarks,
            role_id,
            user_id,
            version
        ) values(
                    #{createBy, jdbcType=VARCHAR},
            #{delFlag, jdbcType=TINYINT},
            #{gmtCreate, jdbcType=TIMESTAMP},
            #{gmtModified, jdbcType=TIMESTAMP},
            #{modifiedBy, jdbcType=VARCHAR},
            #{remarks, jdbcType=VARCHAR},
            #{roleId, jdbcType=BIGINT},
            #{userId, jdbcType=BIGINT},
            #{version, jdbcType=BIGINT}
        )
    </insert>

    <update id="update" parameterType="com.story.code.infrastructure.tunnel.dataobject.sys.UserRoleDO">
        UPDATE sys_user_role set
                    create_by = #{createBy, jdbcType=VARCHAR},
            del_flag = #{delFlag, jdbcType=TINYINT},
            gmt_create = #{gmtCreate, jdbcType=TIMESTAMP},
            gmt_modified = #{gmtModified, jdbcType=TIMESTAMP},
            modified_by = #{modifiedBy, jdbcType=VARCHAR},
            remarks = #{remarks, jdbcType=VARCHAR},
            role_id = #{roleId, jdbcType=BIGINT},
            user_id = #{userId, jdbcType=BIGINT},
            version = #{version, jdbcType=BIGINT}
        where id =  #{id, jdbcType=BIGINT}
    </update>

    <select id="listByUserId" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List" /> from sys_user_role where
        user_id = #{userId, jdbcType=BIGINT} and  del_flag = 0
    </select>

</mapper>



